<h1>Walmart Customer Purchase Behavior Dataset - Data Cleaning</h1>

<h2>Data Cleaning</h2>

<h3>About Dataset</h3>

<h5>This dataset contains 50,000 customer transactions from Walmart, capturing essential details about consumer shopping behavior. It includes demographic information, product categories, purchase amounts, discounts, and ratings, making it useful for data analysis, customer segmentation, and sales forecasting.  <br><br>

Source: <a href="https://www.kaggle.com/datasets/logiccraftbyhimanshi/walmart-customer-purchase-behavior-dataset" target="_blank">Dataset source </a>  
    
</h5>

<h4>Import and load the data</h4>

In [1866]:
#Import the libraries
import pandas as pd

In [1867]:
#Import and read the data
walmart_df=pd.read_csv(r"/Users/pkv/Desktop/Seema/kaggle/Python/WalmartCustomerPurchase/Walmart_customer_purchases.csv")
walmart_df

,Customer_ID,Age,Gender,City,Category,Product_Name,Purchase_Date,Purchase_Amount,Payment_Method,Discount_Applied,Rating,Repeat_Customer
0,84607c1f-910c-44d5-b89f-e1ee06dd34c0,49,Female,New Cynthia,Electronics,Smartphone,2024-08-30,253.26,Cash on Delivery,No,1,Yes
1,f2a81712-a73e-4424-8b39-4c615a0bd4ea,36,Other,Cruzport,Clothing,T-Shirt,2024-12-21,73.19,Debit Card,Yes,1,No
2,da9be287-8b0e-4688-bccd-1a2cdd7567c6,52,Male,Jeffreytown,Beauty,Perfume,2024-12-26,125.62,Credit Card,Yes,1,No
3,50ec6932-3ac7-492f-9e55-4b148212f302,47,Female,Jenniferburgh,Electronics,Smartwatch,2024-11-04,450.32,Credit Card,No,2,Yes
4,8fdc3098-fc75-4b0f-983c-d8d8168c6362,43,Other,Kingshire,Electronics,Smartphone,2024-10-07,369.28,Credit Card,Yes,2,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
49995,80853da9-ef96-4c83-9191-bc872c3968a9,48,Male,Barbaramouth,Electronics,Laptop,2024-11-18,391.48,Debit Card,No,5,No
49996,97df1ed3-4041-474c-8ce8-958c816fc30a,51,Female,Troyshire,Beauty,Perfume,2024-11-19,272.09,Cash on Delivery,Yes,1,No
49997,948efe87-82a3-4a38-9dd6-30d44ad6f879,51,Male,South Rachel,Home,Curtains,2024-02-11,280.81,Debit Card,Yes,2,No
49998,9804d52f-35cd-4af3-a9e3-cbb8367396f0,33,Other,Courtneyville,Beauty,Shampoo,2024-08-31,140.74,Debit Card,No,2,No
49999,a7f2b17c-f5c8-46a5-9322-319c4a2772ca,18,Other,Norrisland,Beauty,Perfume,2024-09-18,18.90,Credit Card,No,4,No

<h4>Inspect the dataframe</h4>

In [1869]:
#Check the number of rows and columns in the dataframe
walmart_df.shape

(50000, 12)

In [1870]:
walmart_df.columns

Index(['Customer_ID', 'Age', 'Gender', 'City', 'Category', 'Product_Name',
       'Purchase_Date', 'Purchase_Amount', 'Payment_Method',
       'Discount_Applied', 'Rating', 'Repeat_Customer'],
      dtype='object')

<b>This dataset has 50,000 records and 12 columns.</b>

In [1872]:
# Check the column-wise info of the dataframe
walmart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer_ID       50000 non-null  object
 1   Age               50000 non-null  int64
 2   Gender            50000 non-null  object
 3   City              50000 non-null  object
 4   Category          50000 non-null  object
 5   Product_Name      50000 non-null  object
 6   Purchase_Date     50000 non-null  object
 7   Purchase_Amount   50000 non-null  float64
 8   Payment_Method    50000 non-null  object
 9   Discount_Applied  50000 non-null  object
 10  Rating            50000 non-null  int64
 11  Repeat_Customer   50000 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 4.6+ MB

In [1873]:
#Check if any null in the columns
walmart_df.isnull().sum()

Customer_ID         0
Age                 0
Gender              0
City                0
Category            0
Product_Name        0
Purchase_Date       0
Purchase_Amount     0
Payment_Method      0
Discount_Applied    0
Rating              0
Repeat_Customer     0
dtype: int64

<b>There are no missing values(null) in this dataset.</b>

In [1875]:
#Get the summay statistics of the dataframe
walmart_df.describe(include="all")

,Customer_ID,Age,Gender,City,Category,Product_Name,Purchase_Date,Purchase_Amount,Payment_Method,Discount_Applied,Rating,Repeat_Customer
count,50000,50000.000000,50000,50000,50000,50000,50000,50000.000000,50000,50000,50000.000000,50000
unique,50000,NaN,3,25096,4,16,366,NaN,4,2,NaN,2
top,84607c1f-910c-44d5-b89f-e1ee06dd34c0,NaN,Other,New Michael,Electronics,Headphones,2024-12-25,NaN,Debit Card,No,NaN,Yes
freq,1,NaN,16751,44,12642,3261,171,NaN,12589,25018,NaN,25244
mean,NaN,38.945220,NaN,NaN,NaN,NaN,NaN,255.532230,NaN,NaN,2.998680,NaN
std,NaN,12.398137,NaN,NaN,NaN,NaN,NaN,141.574416,NaN,NaN,1.417956,NaN
min,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,10.010000,NaN,NaN,1.000000,NaN
25%,NaN,28.000000,NaN,NaN,NaN,NaN,NaN,133.050000,NaN,NaN,2.000000,NaN
50%,NaN,39.000000,NaN,NaN,NaN,NaN,NaN,255.045000,NaN,NaN,3.000000,NaN
75%,NaN,50.000000,NaN,NaN,NaN,NaN,NaN,378.912500,NaN,NaN,4.000000,NaN
max,NaN,60.000000,NaN,NaN,NaN,NaN,NaN,499.990000,NaN,NaN,5.000000,NaN

In [1876]:
walmart_df['Customer_ID'].nunique()

50000

<b>Customer_ID</b> is unique field

<h5><b>Inspect Age column</b></h5>

In [1879]:
#Inspect Age column -- unique values 
print(walmart_df['Age'].unique())
#Age Unique value count
walmart_df['Age'].nunique()

[49 36 52 47 43 59 23 60 41 54 37 27 58 18 21 42 25 26 30 33 50 19 48 51
 39 46 29 45 32 34 22 44 40 56 35 57 28 55 20 24 38 31 53]

43

All the values appear to be valid, so the <b>Age</b> column does not require any cleaning.

<h5><b>Inspect Gender column</b></h5>

In [1882]:
#Inspect Gender column- unique values 
print(walmart_df['Gender'].unique())
#Gender unique value count
print(walmart_df['Gender'].nunique())
#Count unique values in 'Gender' column
print(walmart_df['Gender'].value_counts())

['Female' 'Other' 'Male']
3
Gender
Other     16751
Male      16644
Female    16605
Name: count, dtype: int64

All the values appear to be valid, so the <b>Gender</b> column does not require any cleaning.

<h5><b>Inspect City column</b></h5>

In [1885]:
#Inspect City column- unique values 
print(walmart_df['City'].unique())
#Gender unique value count
print(walmart_df['City'].nunique())
#Count unique values in 'Gender' column
print(walmart_df['City'].value_counts())

['New Cynthia' 'Cruzport' 'Jeffreytown' ... 'West Marc' 'Nashside'
 'Troyshire']
25096
City
New Michael           44
North Michael         42
Lake Michael          41
East Michael          36
South Michael         34
                      ..
South Eduardoburgh     1
South Zacharymouth     1
Jeanettemouth          1
Gentryberg             1
Troyshire              1
Name: count, Length: 25096, dtype: int64

All the values appear to be valid, so the <b>City</b> column does not require any cleaning.

<h5><b>Inspect Category column</b></h5>

In [1888]:
#Inspect Category column- unique values 
print(walmart_df['Category'].unique())
#Category unique value count
print(walmart_df['Category'].nunique())
#Count unique values in 'Category' column
print(walmart_df['Category'].value_counts())

['Electronics' 'Clothing' 'Beauty' 'Home']
4
Category
Electronics    12642
Home           12492
Beauty         12447
Clothing       12419
Name: count, dtype: int64

All the values appear to be valid, so the <b>Category</b> column does not require any cleaning.

<h5><b>Inspect Purchase_Date column</b></h5>

In [1891]:

#Inspect Purchase_Date column- unique values 
print(walmart_df['Purchase_Date'].unique())

#Purchase_Date unique value count
print("\nTotal Unique: ",walmart_df['Purchase_Date'].nunique())
#Count unique values in 'Purchase_Date' column
print("\n",walmart_df['Purchase_Date'].value_counts())

['2024-08-30' '2024-12-21' '2024-12-26' '2024-11-04' '2024-10-07'
 '2024-02-15' '2024-12-19' '2024-09-28' '2025-01-30' '2024-12-23'
 '2024-12-12' '2024-11-30' '2024-09-05' '2025-02-08' '2024-08-03'
 '2024-07-26' '2024-03-29' '2024-07-29' '2024-08-22' '2024-08-26'
 '2024-04-16' '2024-08-20' '2024-03-16' '2025-01-25' '2024-04-25'
 '2024-10-20' '2024-08-25' '2024-12-28' '2025-01-11' '2024-10-27'
 '2024-09-27' '2024-11-06' '2024-11-01' '2024-03-11' '2025-01-17'
 '2024-07-11' '2024-02-20' '2024-02-16' '2024-10-25' '2024-10-18'
 '2024-02-27' '2024-05-08' '2024-06-15' '2024-04-11' '2024-12-31'
 '2024-11-08' '2024-07-07' '2024-08-27' '2024-04-09' '2024-02-21'
 '2024-05-27' '2025-02-06' '2024-07-15' '2024-06-04' '2024-12-14'
 '2024-03-30' '2024-03-21' '2024-02-26' '2024-11-20' '2024-04-15'
 '2025-01-26' '2024-05-13' '2024-05-21' '2024-02-10' '2024-09-19'
 '2024-04-08' '2024-02-23' '2024-03-06' '2024-06-17' '2024-06-25'
 '2024-06-27' '2024-08-10' '2024-12-20' '2024-02-11' '2024-06-16'
 '2024-05-20' '2024-07-31' '2024-09-25' '2025-01-23' '2024-11-23'
 '2024-06-08' '2024-07-21' '2024-10-28' '2024-03-19' '2024-11-15'
 '2024-07-05' '2024-08-05' '2024-07-12' '2024-04-12' '2024-08-24'
 '2024-07-14' '2024-10-08' '2024-04-10' '2025-02-09' '2024-05-24'
 '2024-09-24' '2024-10-15' '2024-11-22' '2024-07-23' '2024-05-17'
 '2024-05-07' '2024-10-13' '2025-01-28' '2024-11-14' '2024-06-29'
 '2024-08-04' '2025-01-13' '2024-10-11' '2024-09-03' '2024-07-16'
 '2024-12-01' '2024-04-24' '2024-12-25' '2024-05-25' '2024-08-14'
 '2024-10-09' '2024-12-16' '2024-03-10' '2024-11-09' '2024-03-18'
 '2024-02-25' '2024-09-14' '2024-04-22' '2024-05-10' '2024-07-13'
 '2024-12-05' '2024-07-01' '2024-03-02' '2025-02-01' '2024-07-03'
 '2024-03-22' '2025-01-07' '2024-09-29' '2024-10-24' '2024-10-10'
 '2024-05-26' '2024-04-21' '2024-07-17' '2024-05-11' '2024-02-19'
 '2024-04-29' '2024-06-21' '2025-02-05' '2024-11-18' '2024-09-12'
 '2025-01-04' '2024-11-11' '2024-03-05' '2024-11-28' '2024-10-29'
 '2024-11-21' '2024-11-24' '2024-03-31' '2025-01-08' '2024-06-28'
 '2024-03-08' '2024-03-14' '2024-11-26' '2024-08-19' '2024-12-17'
 '2024-07-20' '2024-05-01' '2024-03-24' '2024-12-18' '2024-07-30'
 '2024-03-15' '2024-06-07' '2024-10-26' '2024-04-13' '2024-06-30'
 '2024-09-20' '2024-12-09' '2024-11-25' '2024-06-22' '2024-02-12'
 '2024-08-13' '2025-01-02' '2025-01-31' '2025-01-10' '2024-02-24'
 '2024-05-12' '2024-07-04' '2025-01-16' '2024-10-19' '2024-08-07'
 '2024-08-16' '2024-04-17' '2024-10-16' '2024-06-13' '2024-03-26'
 '2024-02-18' '2024-06-24' '2024-11-02' '2024-12-10' '2024-05-15'
 '2025-02-02' '2024-09-04' '2024-09-11' '2024-05-02' '2024-05-14'
 '2024-08-17' '2024-03-03' '2025-02-04' '2024-05-19' '2024-09-06'
 '2024-08-09' '2024-08-31' '2024-05-30' '2024-04-27' '2024-12-30'
 '2024-04-18' '2024-06-20' '2024-03-12' '2024-10-21' '2024-12-11'
 '2024-04-01' '2024-06-03' '2024-12-07' '2025-01-14' '2024-07-10'
 '2024-07-27' '2024-11-17' '2024-12-24' '2024-07-02' '2024-02-28'
 '2024-05-16' '2024-04-30' '2024-04-20' '2024-11-10' '2024-11-12'
 '2024-03-25' '2024-07-24' '2024-12-04' '2024-08-11' '2024-03-09'
 '2024-12-15' '2024-10-30' '2024-04-03' '2024-10-23' '2024-04-14'
 '2024-07-09' '2024-11-29' '2024-09-15' '2024-11-27' '2024-12-08'
 '2025-01-27' '2024-07-18' '2024-05-18' '2024-10-01' '2024-04-02'
 '2024-02-13' '2025-01-15' '2024-03-01' '2024-09-26' '2024-08-01'
 '2024-06-02' '2025-01-20' '2024-08-08' '2025-01-18' '2024-05-03'
 '2024-10-17' '2024-05-28' '2024-07-08' '2024-03-17' '2024-12-03'
 '2024-11-19' '2024-08-15' '2024-11-05' '2024-09-09' '2025-01-21'
 '2024-09-17' '2025-01-24' '2024-02-17' '2024-11-13' '2024-06-09'
 '2024-12-22' '2024-06-14' '2024-12-13' '2024-08-18' '2025-01-01'
 '2024-04-06' '2024-07-19' '2024-04-23' '2024-10-04' '2024-09-08'
 '2024-06-06' '2024-08-12' '2024-07-25' '2024-05-09' '2024-10-02'
 '2024-05-04' '2024-02-14' '2025-01-05' '2024-09-18' '2024-12-27'
 '2024-09-10' '2024-08-29' '2024-06-05' '2024-05-05' '2025-01-06'
 '2025-01-19' '2024-06-18' '2024-05-22' '2024-10-22' '2024-04-28'
 '2025-02-07' '2024-03-23' '2024-04-26' '2024-11-03' '2024-07-22'
 '2024-09-30' '2024-04-19' '2024-07-06' '2024-08-06' '2024-12-02'
 '2025-01-12' '2024-03-07' '2024-09-01' '2024-09-02' '2024-08-02'
 '2024-04-05' '2024-11-07' '2024-03-20' '2024-06-23' '2024-03-27'
 '2024-07-28' '2024-06-01' '2024-03-28' '2024-04-04' '2024-06-12'
 '2025-01-29' '2024-03-13' '2024-06-26' '2024-06-10' '2024-10-14'
 '2024-10-05' '2024-09-21' '2024-02-22' '2025-01-03' '2024-04-07'
 '2024-09-13' '2024-10-12' '2025-02-03' '2024-08-28' '2024-03-04'
 '2024-05-06' '2025-01-22' '2024-10-03' '2024-05-31' '2024-06-19'
 '2024-06-11' '2024-05-23' '2024-02-29' '2024-12-29' '2024-09-07'
 '2024-05-29' '2025-01-09' '2024-09-22' '2024-09-16' '2024-09-23'
 '2024-08-23' '2024-08-21' '2024-10-06' '2024-12-06' '2024-11-16'
 '2024-10-31']

Total Unique:  366

 Purchase_Date
2024-12-25    171
2024-04-25    171
2024-11-18    168
2025-01-27    167
2024-11-11    167
             ...
2024-11-28    114
2024-05-13    113
2024-09-21    113
2024-10-01    113
2024-12-05    106
Name: count, Length: 366, dtype: int64

All the values appear to be valid, so the <b>Purchase_Date</b> column does not require any cleaning.

<h5><b>Inspect Purchase_Amount column</b></h5>

In [1894]:
#Inspect Purchase_Amount column- unique values 
print(walmart_df['Purchase_Amount'].unique())
#Purchase_Amount unique value count
print("\nTotal Unique: ",walmart_df['Purchase_Amount'].nunique())
#Count unique values in 'Purchase_Amount' column
print("\n",walmart_df['Purchase_Amount'].value_counts())

[253.26  73.19 125.62 ... 432.21 367.52 391.48]

Total Unique:  31378

 Purchase_Amount
420.37    7
58.13     7
240.00    6
253.31    6
221.95    6
         ..
455.12    1
340.73    1
448.61    1
305.00    1
391.48    1
Name: count, Length: 31378, dtype: int64

All the values appear to be valid, so the <b>Purchase_Amount</b> column does not require any cleaning.

<h5><b>Inspect Payment_Method column</b></h5>

In [1897]:
#Inspect Payment_Method column- unique values 
print(walmart_df['Payment_Method'].unique())
#Payment_Method unique value count
print("\nTotal Unique: ",walmart_df['Payment_Method'].nunique())
#Count unique values in 'Payment_Method' column
print("\n",walmart_df['Payment_Method'].value_counts())

['Cash on Delivery' 'Debit Card' 'Credit Card' 'UPI']

Total Unique:  4

 Payment_Method
Debit Card          12589
Credit Card         12528
Cash on Delivery    12496
UPI                 12387
Name: count, dtype: int64

All the values appear to be valid, so the <b>Payment_Method</b> column does not require any cleaning.

<h5><b>Inspect Discount_Applied column</b></h5>

In [1900]:
#Inspect Discount_Applied column- unique values 
print(walmart_df['Discount_Applied'].unique())
#Discount_Applied unique value count
print("\nTotal Unique: ",walmart_df['Discount_Applied'].nunique())
#Count unique values in 'Discount_Applied' column
print("\n",walmart_df['Discount_Applied'].value_counts())

['No' 'Yes']

Total Unique:  2

 Discount_Applied
No     25018
Yes    24982
Name: count, dtype: int64

All the values appear to be valid, so the <b>Discount_Applied</b> column does not require any cleaning.

<h5><b>Inspect Rating column</b></h5>

In [1903]:
#Inspect Rating column- unique values 
print(walmart_df['Rating'].unique())
#Rating unique value count
print("\nTotal Unique: ",walmart_df['Rating'].nunique())
#Count unique values in 'Rating' column
print("\n",walmart_df['Rating'].value_counts())

[1 2 3 4 5]

Total Unique:  5

 Rating
1    10099
4    10045
5    10029
2     9971
3     9856
Name: count, dtype: int64

All the values appear to be valid, so the <b>Rating</b> column does not require any cleaning.

<h5><b>Inspect Repeat_Customer column</b></h5>

In [1906]:
#Inspect Repeat_Customer column- unique values 
print(walmart_df['Repeat_Customer'].unique())
#Repeat_Customer unique value count
print("\nTotal Unique: ",walmart_df['Repeat_Customer'].nunique())
#Count unique values in 'Repeat_Customer' column
print("\n",walmart_df['Repeat_Customer'].value_counts())

['Yes' 'No']

Total Unique:  2

 Repeat_Customer
Yes    25244
No     24756
Name: count, dtype: int64

All the values appear to be valid, so the <b>Repeat_Customer</b> column does not require any cleaning.

<h5><b>Inspect Product_Name column</b></h5>

In [1909]:
#Inspect Product_Name column- unique values 
print(walmart_df['Product_Name'].unique())
#Product_Name unique value count
print("\nTotal Unique: ",walmart_df['Product_Name'].nunique())
#Count unique values in 'Product_Name' column
print("\n",walmart_df['Product_Name'].value_counts())

['Smartphone' 'T-Shirt' 'Perfume' 'Smartwatch' 'Laptop' 'Sofa Cover'
 'Shampoo' 'Cookware' 'Curtains' 'Jeans' 'Headphones' 'Jacket'
 'Face Cream' 'Lipstick' 'Lamp' 'Dress']

Total Unique:  16

 Product_Name
Headphones    3261
T-Shirt       3206
Smartwatch    3177
Face Cream    3174
Sofa Cover    3156
Cookware      3155
Shampoo       3145
Lamp          3138
Perfume       3116
Laptop        3110
Jacket        3105
Smartphone    3094
Jeans         3067
Curtains      3043
Dress         3041
Lipstick      3012
Name: count, dtype: int64

All the values appear to be valid, so the <b>Product_Name</b> column does not require any cleaning.

Check for duplicate records

In [1912]:
#Count duplicate rows
walmart_df.duplicated().sum()

0

<h4><b></b>The data is already clean , no missing value and no duplicate records, so no further cleaning is required.</b></h4>